numpy
pandas
scikit-learn
joblib
torch==2.2.0        # PyTorch CPU
matplotlib          # Optional for anomaly plots
fastapi             # Only used if you run API server
uvicorn             # API server
python-multipart
pydantic
pytest              #for testing